body{
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(white 40%, grey)
}

header{
	background: linear-gradient(90deg,#392620,#632626,#9D5353,#BF8B67);
	padding:  20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin:  0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight:  bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #3f2409;
	text-decoration: underline;
    cursor: url("navalha.png"), pointer;
}

.produtos {
	width:  940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #964B00 ;
    cursor: url("navalha.png"), pointer;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2{
	font-size: 34px;
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.protudo-descricao {
	font-size: 18px;

}
.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer{
	text-align: center;
	background: #392620;
	padding: 40px 0px;
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
	
}

/*Página de Contato*/

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	border-radius: 5px;
	padding:  10px 25px;
	width: 50%;
	box-shadow: 0 10px 10px rgba(37, 37, 37, 0.19), 0 10px 10px rgba(77, 77, 77, 0.23);
	border-top:rgba(37, 37, 37, 0.19);
	border-left:rgba(37, 37, 37, 0.19);	
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	background: orange;
	width: 40%;
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: white;
	padding: 15px 0;
	box-shadow: 0 10px 10px rgba(37, 37, 37, 0.19);
	transition: 1s, background;
	border-radius: 5px;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
	cursor: pointer;
	color:black;
}

table{
	margin: 50px 0 40px 
}

thead{
	background: #555555;
	color: white;
	font-weight: bold;
}

th, td {
	border: 1px solid #000000;
	padding: 8px 15px;
}

/*Página de Home*/

.banner{
	width: 100%;
}

h2, h3{
	margin: 0 0 2em;
	clear: left;
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;	
	border-radius: 2%;
}

.sobre{
	padding: 3em 0;
}

.sobre p {
	margin: 0 0 1em;
}

.sobre strong{
	font-weight: bold;
}

.sobre em {
	font-style: italic;
}

.mapa{
	padding: 3em 0;
}

.mapa p {
	margin: 0 0 2em 0;
}

.beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5;
}

.itens:first-child{
	font-weight: bold;
}

.itens:before{
	content:"✂ ";
}

.imagem-beneficios{
	width: 60%;
	opacity: 0.7;
	transition: 400ms;
	box-shadow: 10px 10px 10px #000000;
	border-radius: 2%;
}

.imagem-beneficios:hover{
	opacity: 1.0;
	transform: scale(1.05);
}

.video{
	width: 560px;
	margin: 1em auto;
}