h1 {
    text-align: center;
    background: #392620;
    color: #FFFFFF;
    height: 50px;
    margin: 0px auto;
}

.caixa {
    background: #392620;
    position: relative;
    width: 940px;
    margin: 10px auto;
    padding: 0px 200px;
}
#logo{
    height: 200px;
    margin: 10px 10px 10px 0px;
}

nav {    
    position: absolute;
    top: 100px;
    right: 30px;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
	color: #FFFFFF;
	font-weight:  bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #964B00;
	text-decoration: underline;
}

.banner {
    width: 100%;
}

.texto-centralizado {
    text-align: center;
}
