header{
	background: linear-gradient(90deg,#392620,#632626,#9D5353,#BF8B67);
	padding:  20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin:  0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight:  bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #964B00;
	text-decoration: underline;
    cursor: url("navalha.png"), pointer;
}

.produtos {
	width:  940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #964B00 ;
    cursor: url("navalha.png"), pointer;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2{
	font-size: 34px;
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.protudo-descricao {
	font-size: 18px;

}
.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer{
	text-align: center;
	background: #392620;
	padding: 40px 0px;
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
	
}

/*Página de Contato*/

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form p {
	display: block;
	font-size: 20px;
	margin: 0 0 10px
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	border-radius: 5px;
	padding:  10px 25px;
	width: 50%;
	box-shadow: 0 10px 20px rgba(37, 37, 37, 0.19), 0 10px 10px rgba(77, 77, 77, 0.23);
}

.checkbox {
	margin: 20px 0;
}
